node_modules
.next
dist
.env
.env.local
apps/web/.env.smtp.local
.ecopet/
*.log
.DS_Store
coverage
*.db
*.db-journal
apps/web/public/uploads/dev

# Prisma
apps/web/prisma/migrations/**/migration_lock.toml
